<%= form_for(@earning) do |f| %>
  <% if @earning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earning.errors.count, "error") %> prohibited this earning from being saved:</h2>

      <ul>
      <% @earning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, 'Company Name' %>:
  <%= f.text_field :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
