<%= form_for(@earning) do |f| %>
  <% if @earning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earning.errors.count, "error") %> prohibited this earning from being saved:</h2>

      <ul>
      <% @earning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cusip %><br />
    <%= f.text_field :cusip %>
  </div>
  <div class="field">
    <%= f.label :estimate %><br />
    <%= f.text_field :estimate %>
  </div>
  <div class="field">
    <%= f.label :at_time %><br />
    <%= f.text_field :at_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
