<h1>Listing earnings</h1>

<table>
  <tr class='header-row'>
    <th>Name</th>
    <th>Cusip</th>
    <th>Earnings Date</th>
    <th>Estimate</th>
    <th>At time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @earnings.each do |earning| %>
  <tr>
    <td><%= earning.name %></td>
    <td><%= earning.cusip %></td>
    <td class='centered'><%= earning.released_at.strftime('%m-%d-%Y') %></td>
    <td><%= earning.estimate %></td>
    <td class='centered'><%= earning.at_time %></td>
    <td><%= link_to 'Show', earning %></td>
    <td><%= link_to 'Edit', edit_earning_path(earning) %></td>
    <td><%= link_to 'Destroy', earning, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Earning', new_earning_path %>

<%= link_to 'Import', import_earnings_path, :method => :post, :confirm=> 'Are you sure you would like to import earnings?' %>
